.usaa{
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 12px -5px #3B69FF; 
    box-shadow: 0px 0px 12px -5px #3B69FF;
    padding: 16px;
}

.headerstyle{
    color:#87c087;
    font-weight: bold;
}